* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body {
  background-color: rgb(253, 253, 253);
  width: 100%;
  overflow: auto;
}

p {
  color: rgba(73, 72, 72, 0.884);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.2rem;
  text-align: justify;
  text-decoration: none;
  padding-left: 35px;
  padding-right: 20px;
  line-height: 27px;
  padding: 2rem;
}

ul {
  list-style-type: none;
  color: rgb(3, 80, 80);
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  padding-left: 50px;
}

a {
  color: rgb(3, 80, 80);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding-left: 10px;
  padding-right: 10px;
}

nav a {
  display: flex;
  justify-content: flex-end;
  color: rgb(255, 255, 255) !important;
  padding: 10px 15px 5px 15px;
  font-size: 1.2rem;
}

.titles {
  color: #449d9a;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(182, 141, 174, 0.514);
  background-size: contain;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subtitles {
  color: rgb(63, 134, 128);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin: 1rem;
  text-shadow: 2px 2px 2px #cbf8f8;
}

.info {
  background-color: rgba(144, 173, 173, 0.712);
  color: rgb(36, 129, 117);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
  padding: 5%;
  border-radius: 7px;
}

/* BARRA DE NAVEGACION */

.header {
  background-color: #449d9a;
}

.header-content {
  width: 100%;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

/* INDEX */

/* SECTION TITULO SMILE HOME */

.homeTitle {
  color: rgba(71, 80, 80, 0.849);
  text-align: center;
  font-family: "Kaushan Script", cursive !important;
  text-shadow: 2px 2px 5px #ecf3f3;
  font-size: 3rem;
}

.background-smile {
  background-image: url(../assets/sonrisa2.png);
  background-repeat: no-repeat;
  background-color: beige;
  background-position: center;
  background-size: 100%;
  margin-top: 1px;
  margin-right: 0px;
  margin-bottom: opx;
  margin-left: 0px;
  height: 200px;
}

.section-content {
  background-color: #449d9a44;
  width: 100%;
  padding: 5rem;
  margin-bottom: 2rem;
}
.item1 {
  font-weight: 500;
  font-style: italic;
  line-height: 27px;
  text-decoration: none;
  padding: 2rem;
}

/* ABOUT */
/* nuestra historia */

.s-history-subtitles {
  width: 100%;
  padding: 5%;
}

/* nuestros profesionales */

.prof {
  height: 100px;
  background-color: rgba(196, 171, 192, 0.473);
  border: 1px solid rgb(211, 133, 194);
  border-radius: 10px;
  transition: all 0.5s;
  color: #449d9a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}
.prof:hover {
  transform: scale(1.2);
}

/* nuestras instalaciones */

.s-instalaciones-imagen1 {
  width: 860px;
  height: 600px;
}

.s-instalaciones-imagen2 {
  width: 800px;
  height: 600px;
}

.s-instalaciones-imagen3 {
  width: 800px;
  height: 600px;
}

/* TURNOS */

.s-online {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 0 auto;
}

.s-form {
  background-color: rgba(139, 175, 175, 0.562);
  padding: 3rem;
  border-radius: 10px;
}

.s-presencial {
  width: 80%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*  ESPECIALIDADES */

.especialidades {
  background-color: rgba(207, 205, 207, 0.397);
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 7px;
  width: 100%;
  padding: 3rem;
}

.esp {
  background-image: url(../assets/esp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgba(196, 171, 192, 0.473);
  border: 1px solid rgb(211, 133, 194);
  height: 100px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

/* SERVICIOS */

.s-servicios {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.s-radiografias {
  background-image: url(../assets/radiografias.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: 2rem;
}

.s-tomografias {
  background-image: url(../assets/tomografo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: 2rem;
}

/* CONTACTO */

.s-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.s-contacto-form {
  background-color: rgba(139, 175, 175, 0.658);
  padding: 2%;
  border-radius: 7px;
  margin-bottom: 1%;
}

/* FOOTER */

.footer {
  background-color: rgba(182, 141, 174, 0.342);
  background-image: linear-gradient(
    to top,
    rgba(182, 141, 174, 0.514),
    rgb(247, 241, 241)
  );
  width: 100%;
  height: 150px;
  padding-top: 20px;
  margin-top: 50px;
}

.footer__items {
  text-decoration: none;
  font-size: 7px;
}
