* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

body {
  background-color: #fdfdfd;
  width: 100%;
  overflow: auto; }

nav {
  display: flex;
  justify-content: flex-end; }
  nav a {
    color: white !important;
    padding: 10px 15px 5px 15px;
    font-size: 1.2rem; }

a {
  color: #035050;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding-left: 10px;
  padding-right: 10px; }

ul {
  list-style-type: none;
  padding-bottom: 5px;
  padding-left: 50px; }
  ul li {
    color: #034444;
    font-size: 1.2rem; }

p {
  color: rgba(73, 72, 72, 0.884);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.2rem;
  text-align: justify;
  text-decoration: none;
  padding-left: 35px;
  padding-right: 20px;
  line-height: 27px;
  padding: 2rem; }

.row {
  margin: 0%; }

.titles {
  color: #449d9a;
  font-size: 2, 5rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(182, 141, 174, 0.514);
  background-size: contain;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px; }

.subtitles {
  color: #3f8680;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 1rem;
  text-shadow: 2px 2px 2px #cbf8f8; }

.subtitles__left {
  width: 100%;
  padding: 3rem;
  text-align: left; }

.subtitles__center {
  width: 100%;
  padding: 3rem;
  text-align: center; }

.info {
  background-color: rgba(144, 173, 173, 0.712);
  color: #037062;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 5%;
  border-radius: 7px; }

/* HEADER */
.header {
  background-color: #449d9a; }
  .header .header__logo {
    width: 150px;
    height: 130px; }
  .header .header__content {
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; }

/* FOOTER */
.footer {
  background-color: rgba(182, 141, 174, 0.342);
  background-image: linear-gradient(to top, rgba(182, 141, 174, 0.514), #f7f1f1);
  width: 100%;
  height: 150px;
  padding-top: 20px;
  margin-top: 50px; }

.footer__items {
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center; }

/* nuestros profesionales */
.prof {
  height: 100px;
  background-color: rgba(196, 171, 192, 0.473);
  border: 1px solid #d385c2;
  border-radius: 10px;
  transition: all 0.5s;
  color: #449d9a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px; }

.prof:hover {
  transform: scale(1.2); }

.instalaciones__img {
  width: 800px;
  height: 600px; }

.section__servicios {
  display: flex;
  flex-direction: row;
  height: 600px; }

.section__background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: 2rem;
  border-radius: 25px; }

.radiografias-img {
  background-image: url(../assets/radiografias.jpeg);
  border-radius: 10px; }

.tomografias-img {
  background-image: url(../assets/tomografias.jpeg);
  border-radius: 10px; }

/* CONTACTO */
.contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem; }

.s-form {
  background-color: rgba(139, 175, 175, 0.562);
  padding: 3rem;
  border-radius: 10px;
  margin-bottom: 1%; }

/*  ESPECIALIDADES */
.especialidades {
  /* background-color: rgba(207, 205, 207, 0.397); */
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 7px;
  width: 100%;
  padding: 3rem; }

.especialidades__esp {
  background-image: url(../assets/esp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgba(196, 171, 192, 0.473);
  border: 1px solid #d385c2;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem; }

.s-form {
  background-color: rgba(139, 175, 175, 0.562);
  padding: 3rem;
  border-radius: 10px; }

.s-presencial {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center; }

/* INDEX */
/* SECTION TITULO SMILE HOME */
.index__title {
  color: rgba(71, 80, 80, 0.849);
  text-align: center;
  font-family: "Kaushan Script", cursive !important;
  text-shadow: 2px 2px 5px #ecf3f3;
  font-size: 3rem; }

.index__background {
  background-image: url(../assets/sonrisa2.png);
  background-repeat: no-repeat;
  background-color: beige;
  background-position: center;
  background-size: 100%;
  margin-top: 1px;
  margin-right: 0px;
  margin-bottom: opx;
  margin-left: 0px;
  height: 200px; }

.index__content {
  background-color: #449d9a44;
  width: 100%;
  padding: 5rem;
  margin-bottom: 2rem; }

.index__text {
  font-weight: 500;
  font-style: italic;
  line-height: 27px;
  text-decoration: none;
  padding: 2rem; }

@media screen and (max-width: 760px) {
  a {
    font-size: 1rem; } }

.margen-1 {
  margin: 2px; }

.margen-2 {
  margin: 4px; }

.margen-3 {
  margin: 6px; }

.margen-4 {
  margin: 8px; }

.margen-5 {
  margin: 10px; }
