$color-index-title: rgba(71, 80, 80, 0.849);
$fuente-index-title: "Kaushan Script", cursive;
$background-color-index-content: #449d9a44;
$color-body: #fdfdfd;
$color-header: #449d9a;
$color-font-titles: #449d9a;
$color-parrafos: rgba(73, 72, 72, 0.884);
$color-subtitles: rgb(63, 134, 128);
$fuente-general: "Roboto", sans-serif;
$color-background-titles: rgba(182, 141, 174, 0.514);
$color-box: rgba(196, 171, 192, 0.473);
$font-size-titles: 2, 5rem;
$background-color-s-form: rgba(139, 175, 175, 0.562);
$color-info: rgb(3, 112, 98);
$background-info: rgba(144, 173, 173, 0.712);
