$fondo-body: rgb(253, 253, 253);
$color-header: #449d9a;
$color-font-titles: #449d9a;
$color-background-titles: rgba(182, 141, 174, 0.514);
$color-subtitles: rgb(63, 134, 128);
$fuente-general: "Roboto", sans-serif;
$color-info: rgb(3, 112, 98);
$color-box: rgba(196, 171, 192, 0.473);
