@import "./variables";
@import "./global";
@import "./componentes/header";
@import "./componentes/footer";
@import "./pages/about";
@import "./pages/servicios";
@import "./pages/contacto";
@import "./pages/especialidades";
@import "./pages/turnos";
@import "./pages/index";

@media screen and (max-width: 760px) {
  a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .subtitles {
    font-size: 1.4rem;
  }
}

@for $numero from 1 through 5 {
  .margen-#{$numero} {
    margin: 2px * $numero;
  }
}


