/* nuestros profesionales */
.prof {
  transition: all 0.5s;
}

.prof:hover {
  transform: scale(1.1);
}

// CARRUSELES

.instalaciones__img {
  width: 800px;
  height: 600px;
  object-fit: contain;
}
