.section__servicios {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.section__background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: 2rem;
  border-radius: 25px;
}

@each $imagen-fondo in radiografias, tomografias {
  .#{$imagen-fondo}-img {
    background-image: url(../assets/#{$imagen-fondo}.jpeg);
    border-radius: 10px;
  }
}
