/* FOOTER */

.footer {
  background-color: rgba(182, 141, 174, 0.342);
  background-image: linear-gradient(
    to top,
    rgba(182, 141, 174, 0.514),
    rgb(247, 241, 241)
  );
  width: 100%;
  height: 150px;
  padding-top: 20px;
  margin-top: 50px;
}

.footer__items {
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}
