/* HEADER */

.header {
  background-color: $color-header;
  .header__logo {
    width: 150px;
    height: 130px;
  }
  .header__content {
    width: 100%;
    padding-bottom: 5px;
  }
}

a#dropdownMenuLink {
  color: rgba(19, 109, 101, 0.993);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(19, 109, 101, 0.993/ 25%);
}

.dropdown-item:hover {
  background-color: #449d9ab6 !important;
}
